*, *::before, *::after {
    box-sizing: border-box;
}

/* semantic html */
body {
    display: flex;
    margin: 0;
    padding: 1em;
    flex-direction: column;
    text-align: center;
    height: 100vh;

    background: #373B44;
    /* background: -webkit-linear-gradient(to top, #4286f4, #373B44); */
    /* background: linear-gradient(to top, #4286f4, #373B44);  */
    /* background-size: 100%; */
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: whitesmoke;
}

footer {
    margin-top: auto;
    margin-bottom: 1em;
    background-color: #373B44;
}

label {
    display: block;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    margin-left: auto;
}

/* form */
input, button, select {
    width: 70%;
    font-size: 1.5rem;
    margin: 0.7em auto 0 auto;
    padding: 0.3em 1em;
    text-align: center;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    background-color: whitesmoke; /* Set a default background */
}

hr {
    background-color: whitesmoke;
    height: 10px;
    width: 80%;
}


/* typography */
h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 0.5em;
}


/* table */
table{
    margin: 0 auto;
    /* border-collapse: collapse; */
    width: 90%;
}

.hidden {
    display: none;
}

/* icon */
.icon-container {
    margin-bottom: 2em;
}

a {
    color: whitesmoke;
}

i {
    font-size: 4rem;
}

@media (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr) / repeat(12, 1fr);
        grid-template-areas: 
        "head head head head head head head head head head head head"
        "left left left left left left righ righ righ righ righ righ"
        "down down down down down down down down down down down down";

        gap: 1.5em;
    }
    
    #save-address {
        grid-area: head;
    }
    
    #select-address {
        grid-area: left;
    }
    
    #balance-across-all-accounts {
        grid-area: righ;
    }
    
    #portfolio {
        grid-area: down;
    }
}

#submit-address:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}